api:
  appId: "ap-1<redacted>cqgi"
  authToken: "eyJ0eXAiOiJKV1QiLCJh<redacted>VLhhhhnxrugZUfGrmTDAg"
  baseUrl: "https://api.dfns.wtf"

keySigner:
  privateKey: >
    -----BEGIN EC PRIVATE KEY-----
    MHcCAQEEIPN0VITRkgJYERbaSNghUNVjTOyu8sXkjew6m2qt0iq6oAoGCCqGSM49
    ... <redacted> ...
    TPOQt+D2uTWr7Sn/PyTHS9A16g5jA7YlSg==
    -----END EC PRIVATE KEY-----
  credId: "Y2kt...<redacted>..."
  algorithm: "SHA-256"
